.gradient-background {
    background: linear-gradient(300deg, #f7f9fc, #e3eaf3, #dfe7ec);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

body p{
    color: #6482ad;
    font-family: "Merriweather", serif;
    font-size: 1.2rem !important;
}

body h2{
    color: #6482ad;
}

/* ----------------------------------------------------------------------- */
/* Header */
.header .nav-link {
  color: #e2dad6 !important;
}

.header .nav-link:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.header .nav-link.active {
  color: #e2dad6 !important; /* Color del enlace activo */
  background-color: #7fa1c3 !important; /* Fondo del enlace activo */
}

.header .nav-link.active:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.py-custom {
  padding: 100px 0px;
}

/* ----------------------------------------------------------------------- */
/* Profile */
.profile {
    padding-top: 100px;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    padding-bottom: 3rem;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    color: #6482ad;
}
.social-links a:hover svg {
    color: #f5eded;
}

.custom-hr {
    border: dotted #6482ad 6px;
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
  }

.intro {
    width: 30%;
    margin: auto;
}

/* ----------------------------------------------------------------------- */
/* Skills */
.gradient-background-2 {
    background: linear-gradient(300deg, #F5ECD5, #f5eded, #A6CDC6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .card p{
    color: #6482ad !important;
  }

  .card h3{
    color: #6482ad !important;
  }


/* ----------------------------------------------------------------------- */
/* Footer */
.gradient-background-1 {
  background: linear-gradient(300deg, #7fa1c3, #4c585b, #6482ad);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.footer .nav-link {
  color: #e2dad6 !important;
}

.footer .nav-link:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.footer-copyright {
    color: #e2dad6 !important;
}

