.gradient-background {
  background: linear-gradient(300deg, #f7f9fc, #e3eaf3, #dfe7ec);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

body p {
  color: #6482ad;
  font-family: "Merriweather", serif;
  font-size: 1.2rem !important;
}

h1 {
  color: #6482ad !important;
  font-size: 3rem !important;
}

h2 {
  color: #6482ad !important;
  font-size: 2.8rem !important;
}

/* ----------------------------------------------------------------------- */
/* Header */
.header .nav-link {
  color: #e2dad6 !important;
}

.header .nav-link:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.header .nav-link.active {
  color: #e2dad6 !important; /* Color del enlace activo */
  background-color: #7fa1c3 !important; /* Fondo del enlace activo */
}

.header .nav-link.active:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.header .navbar-nav .nav-link.active {
  padding-left: 10px; /* Ajusta según lo necesites */
  padding-right: 15px; /* Opcional para mantener equilibrio */
}

.py-custom {
  padding: 100px 0px;
}

/* ----------------------------------------------------------------------- */
/* Description */
.description {
  width: 70%;
  margin: auto;
}

.custom-padding {
  padding: 7rem 4rem 5rem 4rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .description {
    width: 90%;
    justify-content: center !important;
    text-align: justify;
  }
  .description h1 {
    font-size: 2rem;
    text-align: start !important;
  }

  .custom-padding {
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
  }
}
/* ----------------------------------------------------------------------- */
/* Album */
.album {
  margin-bottom: 100px;
  width: 70%;
  margin: auto;
}

.carousel img {
  width: 60%;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
}

.pb-custom {
  padding-bottom: 6rem;
}

.custom-card {
  border: #7fa1c3 solid 1px;
}

@media (max-width: 768px) {
  .album {
    text-align: justify !important;
    width: 90%;
    margin: auto;
  }
  .album h2{
    text-align: start !important;
  }
}

/* ----------------------------------------------------------------------- */
/* Reading */
.reading {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.reading h5 {
  color: #6482ad;
}

.reading .card {
  border: #7fa1c3 solid 1px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.reading .card:hover {
  transform: scale(1.05);
}

.reading .card img {
  height: 250px;
  object-fit: fill;
}

.books {
  justify-content: center;
}

@media (max-width: 768px) {
  .reading {
    width: 80%;
    margin: auto;
  }
  .reading .card img {
    height: 200px;
    object-fit: fill;
  }
  .reading > div > p{
    text-align: justify !important;
  }
  .reading h2{
    text-align: start !important;
  }

  .books p{
    text-align: justify !important;
    font-size: 1rem !important;
  }
}

@media (min-width: 992px) {
  .books {
    justify-content: space-between !important;
  }
}

/* ----------------------------------------------------------------------- */
/* Footer */
.gradient-background-1 {
  background: linear-gradient(300deg, #7fa1c3, #4c585b, #6482ad);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.footer {
  width: 100%;
  max-width: 100vw;
}

.footer .nav-link {
  color: #e2dad6 !important;
}

.footer .nav-link:hover {
  color: #f5eded !important; /* Cambia el color al pasar el mouse */
}

.footer-copyright {
  color: #e2dad6 !important;
}
